<h3 class="createHeader">Upload own photo</h3>
<mat-select style="text-align: center; border: solid; border-radius: 10px;margin-bottom: 30px" [(ngModel)]="selectedAlbum">
  <mat-option style="text-align: center" value="">Select Album</mat-option>
  <mat-option style="text-align: center" *ngFor="let album of albums" value="{{album.id}}">{{album.title}}</mat-option>
</mat-select>
<form>
<input matInput class="un " name="title" type="text" align="center" placeholder="title" [(ngModel)]="title" required>
<input matInput class="un " name="url" type="text" align="center" placeholder="url" [(ngModel)]="url" required>
<input matInput class="un " name="thumbnailUrl" type="text" align="center" placeholder="thumbnailUrl" [(ngModel)]="thumbnailUrl" required>
  <a class="submit" align="center"  (click)="uploadPhoto()" >Upload photo</a>
</form>



