
<div [ngStyle]="{'background-color': type === 'isSuccess' ? 'green' : 'red', 'margin-bottom': '5px', 'border-radius': '10px'}">
  <div class="toastheader" >
    <ng-container *ngIf="showTitle">
    <strong>{{title}}</strong>
    </ng-container>
    <ng-container  *ngIf="hasCloseButton">
      <button style="margin-left: 70px" mat-button   aria-label="Close" (click)="removeHandler()">
        <span  aria-hidden="true">&times;</span>
      </button>

    </ng-container>
  </div>

  <div class="toastbody">

{{content}}  </div>
  <mat-progress-bar color="warn" mode="determinate" [value]=timeleft></mat-progress-bar>

</div>

<ng-container ></ng-container>

