<div class="main">
  <p class="sign" align="center">Sign Up</p>
  <input class="un" type="text" align="center" placeholder="Name" [(ngModel)]="name" required>
  <input class="un" type="text" align="center" placeholder="Email" [(ngModel)]="email" required>
  <input class="un " type="text" align="center" placeholder="Username" required [(ngModel)]="login">
  <input class="pass" type="text" align="center" placeholder="Password" required [(ngModel)]="password">
  <input class="pass" type="text" align="center" placeholder="Confirm password" required [(ngModel)]="confirm">
  <input class="pass" type="text" align="center" placeholder="phone" required [(ngModel)]="phone">
  <input class="pass" type="text" align="center" placeholder="website" required [(ngModel)]="website">
  <input class="pass" type="text" align="center" placeholder="street" required [(ngModel)]="street">
  <input class="pass" type="text" align="center" placeholder="suite" required [(ngModel)]="suite">
  <input class="pass" type="text" align="center" placeholder="suite" required [(ngModel)]="city">
  <input class="pass" type="text" align="center" placeholder="zipcode" required [(ngModel)]="zipcode">
  <input class="pass" type="text" align="center" placeholder="lat" required [(ngModel)]="lat">
  <input class="pass" type="text" align="center" placeholder="lng" required [(ngModel)]="lng">
  <input class="pass" type="text" align="center" placeholder="companyName" required [(ngModel)]="companyName">
  <input class="pass" type="text" align="center" placeholder="cathPhrase" required [(ngModel)]="cathPhrase">
  <input class="pass" type="text" align="center" placeholder="bs" required [(ngModel)]="bs">
  <a class="submit" align="center" (click)="signup()">Sign up</a>
</div>
